
:root {
    --primary-color:#A82C48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --black-color:#000;
    --primary-font: 'Roboto' , sans-serif;
    --secondary-font: 'Quicksand' , sans-serif;
}

.menu-container{
max-width:1200px;
margin:0 auto;
padding:0 60px;
}

.menu-header{
text-align:center;
margin-bottom:70px;
}

.menu-header h1{
font-size:2.5rem;
font-family:var(--secondary-font);
color:var(--primary-color);
margin-bottom:15px;
}

.menu-header a{
text-decoration:none;
color:var(--secondary-color);
font-weight:600;
}

.menu-grid{
display:flex;
flex-wrap:wrap;
gap:50px;                
justify-content:center; 
}

.menu-card{
flex:0 0 calc((100% - 100px)/3);
max-width:300px;
background:var(--white-color);
border-radius:30px;    
overflow:hidden;
box-shadow:0 35px 70px rgba(168,44,72,0.08);
transition:0.4s ease;
border:1px solid rgba(168,44,72,0.08);
}

.menu-card:hover{
transform:translateY(-15px);
box-shadow:0 45px 80px rgba(168,44,72,0.18);
}

.menu-image{
width:100%;
height:240px;
object-fit:cover;
border-top-left-radius:30px;
border-top-right-radius:30px;
transition:0.6s ease;
}

.menu-card:hover .menu-image{
transform:scale(1.08);
}

.menu-info{
padding:25px;
text-align:center;
}

.menu-name{
font-size:1.4rem;
font-family:var(--secondary-font);
color:var(--primary-color);
margin-bottom:8px;
}


.menu-price{
font-size:1.05rem;
color:var(--text-color);
margin-bottom:18px;
}

.menu-info .primary-btn{
width:100%;
border-radius:12px;  
padding:12px;
}

.primary-btn{

    background:var(--secondary-color);   
    color:var(--white-color);
    border:none;
    padding:12px 20px;
    font-weight:600;
    font-family:var(--primary-font);
    cursor:pointer;
    transition:0.3s ease;
    border-radius:12px;
    width:100%;
    margin-top:12px;
    font-size:0.95rem;
}


.primary-btn:hover{
    background:var(--primary-color);  
    color:var(--white-color);
   transform:translateY(-3px);
   box-shadow:0 8px 20px rgba(168,44,72,0.25);

}
.hide-cart{
display:none !important;

}
